# babelproxy configuration

# HTTP Service address of the remote Babel server
# babeladdr = "localhost"

# Protocol of the remote Babel server (http/https)
# babelproto = "http"

# base path of remote Babel service
# babelpath = ""
babelpath = "/service/v1"

# Version number for swagger files
# babelversion = "1.0"

# since of HTTP connection pool
# pool = 10

# HTTP timeout talking to babel server
# timeout = "10s"

# HTTP service address of babelproxy
# restaddr = "localhost:9999"

# Published address (for instance if docker is used)
# pubaddr = ""

# Base path of REST services hosted on babelproxy
# restpath = ""
restpath = "/service/v1"

# Version number for swagger files
# restversion = "1.1"

# Path for swagger-ui
# swaggerpath = "/swagger"

# Path for media files (usually don't need to set this)
# mediapath = "/media"

# Path for status page (usually don't need to set this)
# statuspath = "/"

# application title
# title = "My Service"

# web address of status page
# statusaddr = "localhost:9998"

# number of CPUs to use
# cpu = 0

# filename for CPU profile debug data
# cpuprofile = ''

# filename for memory profile debug data
# memprofile = ""

# whether to log requests to stdout
# log = false

# working directory (helpful for finding babel files)
# wd = ""

# babel files to process
# args = []
